.main-section.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 100px;
    position: relative;
    background-color: #aa55f1;
}

.content {
    z-index: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
}

.card {
    margin: 10px;
    background-image: url("../../resource/card-texture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 270px;
    height: 450px;
    border: 5px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.title-banner {
    width: 90%;
    height: 40px;
    position: relative;
}

.title-txt {
    position: absolute;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
}

.card-image {
    height: auto;
    width: 90%;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: radial-gradient(
        61.22% 111.36% at 24.88% 37.5%,
        #494949 0%,
        #aaaaaa 62.5%,
        #999999 100%
    );
}

.skills {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 25px;
    transform: translateY(45%);
}
/* select a who left child another a*/
.skill-content + .skill-content {
    margin-left: 6px;
}

.skill-content {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid black;
}

.wrapper-image {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.description {
    font-size: 0.8rem;
    font-family: "Tillana", cursive;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.description span {
    text-align: justify;
    text-justify: inter-word;
    width: 90%;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.footer img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span {
    display: flex;
    width: 60%;
    font-family: "Romanesco", cursive;
    line-height: 0.9;
    color: black;
    font-size: 24px;
}
