.home {
    background: url("../../resource/lax-rock-view.jpg") no-repeat center center /
        cover;
}

.main-section.home {
    display: flex;
    width: 100%;
    height: 100vh;
}

.headerhome > h1 {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-family: monospace;
    align-items: center;
    justify-content: center;
}

.headerhome > p {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
    font-style: italic;
    font-family: cursive, Geneva, Tahoma, sans-serif;
}

.text-content {
    display: flex;
    flex-direction: column;
    color: #f4f4f4;
    max-width: 600px;
    position: absolute;
    top: 55%;
    left: 7%;
    text-shadow: 1px 1px 8px #000000;
}

.home-phrase {
    padding-top: 10px;
    text-align: justify;
    font-size: 1.5rem;
    font-family: cursive, Geneva, Tahoma, sans-serif;
    word-spacing: 4px;
}
/*
.home-phrase {
    padding-top: 10px;
    width: 30%;
    text-align: justify;
    font-family: cursive, Geneva, Tahoma, sans-serif;
}

.footerh1 {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 15px;
    font-size: 0.9rem;
    font-style: italic;
    font-family: cursive, Geneva, Tahoma, sans-serif;
}

.headerhome {
}
*/
