.contact {
    /* background: url("./../../resource/lax-bike-trail.jpg") no-repeat center
        center / cover; */
    height: 100vh;
}
.main-section.contact {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.main-section.contact ul {
    display: flex;
    flex-direction: row;
    transform: translateY(30%);
}

.main-section.contact ul li a {
    position: relative;
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: 0.2s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.main-section.contact ul li a:hover {
    color: #fff;
    transform: translate(0, -10px);
}

.main-section.contact ul li:nth-child(1) a:hover {
    color: #fff;
    background-color: #6f42c1;
}

.main-section.contact ul li:nth-child(2) a:hover {
    background-color: #24292e;
}
.main-section.contact ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.main-section.contact ul li:nth-child(4) a:hover {
    background-color: #0077b5;
}
